<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ZumbaApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addParticipant</display-name>
    <servlet-name>addParticipant</servlet-name>
    <servlet-class>com.gms.controller.addParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addParticipant</servlet-name>
    <url-pattern>/addParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBatchServlet</display-name>
    <servlet-name>addBatchServlet</servlet-name>
    <servlet-class>com.gms.controller.addBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBatchServlet</servlet-name>
    <url-pattern>/addBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addParticipantServlet</display-name>
    <servlet-name>addParticipantServlet</servlet-name>
    <servlet-class>com.gms.controller.addParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addParticipantServlet</servlet-name>
    <url-pattern>/addParticipantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteParticipant</servlet-name>
    <servlet-class>com.gms.controller.deleteParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteParticipant</servlet-name>
    <url-pattern>/deleteParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateParticipant</servlet-name>
    <servlet-class>com.gms.controller.updateParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateParticipant</servlet-name>
    <url-pattern>/updateParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBatchServlet</display-name>
    <servlet-name>updateBatchServlet</servlet-name>
    <servlet-class>com.gms.controller.updateBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBatchServlet</servlet-name>
    <url-pattern>/updateBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBatchServlet</display-name>
    <servlet-name>deleteBatchServlet</servlet-name>
    <servlet-class>com.gms.controller.deleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBatchServlet</servlet-name>
    <url-pattern>/deleteBatchServlet</url-pattern>
  </servlet-mapping>
</web-app>